<section class="main tc clearfix">

  <h1 class="main-title">eProblema.ro</h1>
  <h2 class="tagline">
    Site-ul unde depui sesizari rapid si usor!
  </h2>
  <div class="col-md-6">
    <%= link_to '<i class="fa fa-exclamation-circle"></i> Formuleaza o sesizare'.html_safe, new_trouble_path , class: 'btn btn-success btn-block btn-lg' %>
  </div>
  <div class="col-md-6">
    <%= link_to '<i class="fa fa-list"></i> Sesizarile din orasul tau'.html_safe, cities_path, class: "btn btn-success btn-block btn-lg" %>
  </div>

</section>

<%= yield :scripts %>
