<h1>Hello everyone! Here we will have the trouble map.</h1>
<%= link_to "List of troubles in the city", controller: "troubles" %>

<%= gmaps(:markers => {"data" => @jsonAll},
          :map_options => { :raw => "{scrollwheel: false}", :container_class => "main_map", :detect_location => true, :center_on_user => true, :zoom => 1}
          )%>
<%= yield :scripts %>
