<div class="container">
  <h1>Harta sesizarilor din tara</h1>
  <hr>

  <%= gmaps(:map_options => { :raw => "{maxZoom: 20}", :container_class => "all-map"},
            :markers => {"data" => @jsonAll},
            ) %>
  <%= yield :scripts %>

</div>  
