<h1>Here's your trouble</h1>
<strong>Name:</strong>
<%= @trouble.name %> <br/>

<strong>Location:</strong>
<%= @trouble.location %> <br/>

<strong>description:</strong>
<%= @trouble.description %>

<br/>

<%= link_to 'Back to the trouble list', troubles_path %>