<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Sterge', [comment.trouble, comment], method: :delete, data: {confirm: 'Esti sigur ca vrei sa stergi acest comentariu?'} %>
</p>