// Place all the styles related to the identities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-account-container{
  background: #f9f9f9;
  width: 600px;
  padding: 25px 10px;
  text-align: center;
  h1{
    margin: 25px 0;
  }
}
