// Place all the styles related to the troubles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html{
  height: 100%;
}

.field_with_errors{
  display: inline;
  background-color: pink;
}

.new-trouble-form{
  margin-top: 25px;
}

.trouble-address-input{
  display: none
  // opacity: 0;
}

.all-map{
  height: 600px;
  width: 100%;
}

.trouble-photo{
  border: 5px solid #dedede;
  margin: 10px;
}
